.output-half-flex-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
}

.sensor-output-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sensor-id {
    font-size: 12px;
    width: 20%;
}

.sensor-label {
    font-size: 12px;
    width: 60%;
}

.sensor-reading {
    font-size: 12px;
    text-align: right;
    width: 10%;
}

.sensor-metric {
    font-size: 12px;
    width: 10%;
}

.sensor-title {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    height: 20px;
    margin: 0px;
}