.sensor-flex-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sensor-output-row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sensor-name {
    font-size: 12px;
    width: 50%;
}

.sensor-reading {
    font-size: 12px;
    text-align: right;
    width: 50%
}

.sensor-title {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
}

.engine-flex-container{
    display: flex;
    flex-direction: column;
    width: 50%
}